.previewpics {
  max-width: 10vw;
}
.backdrop {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.breedpage {
  display: flex;
}
.images {
  max-height: 10vh;
}
.buttons {
  max-height: 5vh;
}
