/* .body{
    width: 100vw;
    background-color: antiquewhite;
} */
.page1 {
    width: 100vw;
    height: 100vh;
    background-color: #efeef1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.imgCon {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-bottom: 3vh;
}

.img {
    background-color: rgb(60, 60, 63);
    height: 100%;
    width: 40%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
}

.img-image {
    width: 100px;
    height: 100px;
}

.slideImg {
    width: 90%;
    /* height: auto; */
    display: flex;
    justify-content: center;
    object-fit: fill;
    overflow: hidden;
}

.slide {
    width: 100px;
}

.info {
    width: 55%;
    height: 60vh;
    display: flex;
    /* background-color: blueviolet; */
    justify-content: space-around;
}

.card {
    width: 60%;
    height: 70%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* gap: 30px; */
}

.name {
    font-weight: 400;
    font-size: xx-large;
}

.location {
    height: 15%;
    border-bottom: 1px solid #4d4751;
    display: flex;
    align-items: center;
    font-size: small;
}

.category {
    height: 15%;
    border-bottom: 1px solid #4d4751;
    display: flex;
    align-items: center;

}

.about {
    height: 30%;
    /* border-bottom: 1px solid black; */
    display: flex;
    align-items: center;

}


.font {
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    color: #4d4751;
    /* border-bottom: 1px solid black; */
}

.feedback {
    width: 35%;
    height: 60%;
    background-color: #6504b5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    /* overflow: hidden; */
}

.feedbackFont {
    margin-top: 10%;
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    color: white;
    font-size: small;
}

.feedbackButt {
    width: 80%;
    height: 15%;
    background-color: #6504b5;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.feedbackButt2 {
    width: 50%;
    height: 100%;
    background-color: #6504b5;
    border: 1px solid black;
    /* border: 1px solid white; */
    /* border-radius: 10px; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.right {
    border-bottom-left-radius: 10px;
}

.left {
    border-bottom-right-radius: 10px;

}

.feedbackBigButt {
    width: 100%;
    height: 15%;
    background-color: #F9F6EE;
    display: flex;
}

.page2 {
    width: 100vw;
    height: 100vh;
    background-color: #efeef1;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border: black solid 1px;
}

.content1 {
    width: 100%;
    height: 25%;
    background-color: #6504b5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.section1 {
    width: 50%;
    height: 50%;
    border-bottom: 0.3px solid white;
    /* background-color: #4d4751; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding-left: 5%; */
    gap: 20px;
}

.section2 {
    width: 50%;
    height: 50%;
    /* border-bottom: 1px solid white; */
    /* background-color: #4d4751; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding-left: 5%; */
}

.upperImg {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 2px solid white;
}

.upperText {
    height: 80%;
    width: 50%;
    /* border: 2px solid white; */
}

.upperLilText {
    height: 50%;
    width: 100%;
    background-color: #6504b5;
    /* border: 0.5px solid white; */
    display: flex;
    align-items: center;
}

.upperBold {
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.upperThin {
    font-family: Nexa Regular, arial, helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 13px;
    font-weight: lighter;
    padding-top: 2%;
    padding-bottom: 2%;
}

.lowerLilText {
    width: 100%;
    height: 100%;
}
.articles {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .articlesMain {
    display: flex;
    gap: 20px;
  }
  .article1 {
    width: 600px;
    height: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .article2 {
    width: 600px;
    height: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .articleImg {
    width: 100%;
    height: 87%;
    border-radius: 10px 10px 0px 0px;
    background-image: url("https://www.petfinder.com/sites/default/files/styles/card/public/images/content/47.jpeg?itok=HNT_yv1F");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .articleImg2 {
    width: 100%;
    height: 87%;
    border-radius: 10px 10px 0px 0px;
    background-image: url("https://www.petfinder.com/sites/default/files/styles/card/public/images/content/PF2015_267_Kittens_Shelter-630.jpg?itok=JGTdJJaD");
    background-size: red;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .articleReadMore {
    width: 100%;
    height: 12%;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #4d4651;
    font-weight: 600;
    transition: 200ms;
  }
  .underPicWhite {
    width: 100%;
    height: 120px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #534c57;
    line-height: 25px;
  }
  .filler {
    width: 100%;
    height: 20px;
    border-radius: 50% 50% 0px 0px;
    background-color: white;
  }
  .middleDog {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    margin-top: 60px;
    border: 6px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .middledogimg {
    width: 200px;
    height: 90px;
    border-radius: 50%;
  }
  .lightgrey {
    color: gray;
  }
  .margintop {
    margin-top: 10px;
    font-size: 23px;
  }
  .article1:hover > .articleReadMore {
    background-color: #5a4ff4;
    color: white;
    transition: 200ms;
  }
  .article2:hover > .articleReadMore {
    background-color: #5a4ff4;
    color: white;
    transition: 200ms;
  }
  .container {
    width: 190px;
    height: 180px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    gap: 20px;
  }
  .container:hover {
    border: 2px solid #5a4ff4;
    background-color: rgb(234, 234, 234);
  }
  .icon {
    font-size: 80px;
  }
  .icon2 {
    font-size: 70px;
  }
  .backimg {
    width: 100%;
    height: 38vh;
    position: absolute;
    background-image: url("https://www.petfinder.com/sites/default/files/styles/hero_image_1140_410/public/images/content/1140%20hero%20image_0.jpg?itok=wryBzVcI");
    z-index: 0;
  }
  