.previewpics {
  max-width: 10vw;
}
.backdrop {
  color: white;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #212121;
}
.breedpage {
  display: flex;
}
.images {
  max-height: 10vh;
}
.buttons {
  max-height: 5vh;
}
