.outer {
  width: 100vw;
  height: 6.5vh;
  display: flex;
  justify-content: center;
  gap: 600px;
  font-family: "Nexa-Bold", arial, helvetica, sans-serif;
  background-color: white;
}
.left {
  display: flex;
  align-items: center;
  gap: 60px;
}
.right {
  display: flex;
  align-items: center;
  gap: 30px;
}
.allaboutpets {
  color: #212121;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 3px;
}
.allaboutpets > .navbararrow {
  width: 20px;
  height: 20px;
}
.navbarHeart {
  width: 30px;
  height: 30px;
  color: #212121;
}
.navbarVerticalLine {
  width: 1px;
  height: 100%;
  background-color: #d2d1d3;
}
.navbarSign {
  font-family: "Nexa-Bold", arial, helvetica, sans-serif;
  font-weight: bold;
  color: #212121;
  cursor: pointer;
}
.navbarLog {
  font-family: "Nexa-Bold", arial, helvetica, sans-serif;
  font-weight: bold;
  color: #212121;
  cursor: pointer;
}
.logo {
  cursor: pointer;
}
